@model Operativka.Models.ApplicationDocument

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ApplicationDocument</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consumer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consumer.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OuterAppNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OuterAppNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFromOuterApp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFromOuterApp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
