@model IEnumerable<Operativka.Models.PlanningIndicator>

@{
    ViewData["Title"] = "Список";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Додати новий</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name_Fact)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-primary">
            <th  scope="row">
                @Html.DisplayFor(modelItem => item.Name)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Name_Fact)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Вилучити</a>
            </td>
        </tr>
}
    </tbody>
</table>
