@model Operativka.Models.ApplicationObjective

@{
    ViewData["Title"] = "Видалення";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h3>Чи Ви впевнені що хочете видалити це?</h3>
<div>
    <h4>Ціль заявки</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlannedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlannedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExecutionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExecutionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsExecuted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsExecuted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationDocument.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Вилучити" class="btn btn-danger" /> |
        <a asp-action="Edit" asp-controller="ApplicationDocuments" asp-route-id="@Model.ApplicationDocumentId">Повернутися назад</a>
    </form>
</div>
