@model IEnumerable<Operativka.Models.ApplicationObjective>

@{
    ViewData["Title"] = "Список";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Додати новий</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.PlannedDate)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ExecutionDate)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IsExecuted)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ApplicationDocument)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-primary">
            <th  scope="row">
                @Html.DisplayFor(modelItem => item.Type)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.PlannedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExecutionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsExecuted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDocument.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Вилучити</a>
            </td>
        </tr>
}
    </tbody>
</table>
