@{
    //ViewData["CurrentProject"] = System.Reflection.Assembly.GetExecutingAssembly().GetName().Name;
    ViewData["CurrentProject"] = "Оперативка";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["CurrentProject"] - @ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/Bootstrap5_0_2/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
    @*    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Оперативка.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm  navbar-dark bg-dark border-bottom box-shadow mb-3 container-fluid">
            @*<a class="navbar-brand" href="#">Navbar</a>*@
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@ViewData["CurrentProject"]</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-navicon" style="color:burlywood; font-size:28px;"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-collapse collapse d-inline-flex justify-content-between">
                    <ul class="navbar-nav mr-auto ">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReferenceBooks" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Довідники
                            </a>
                            <div class="dropdown-menu bg-success text-white" aria-labelledby="navbarDropdown">
                                <a asp-controller="Settlements" asp-action="Index" class="dropdown-item text-white">Населені пункти</a>
                                <a asp-controller="Districts" asp-action="Index" class="dropdown-item text-white">Дільниці</a>
                                <div class="dropdown-divider bg-warning"></div>
                                <a asp-controller="ConsumerCategories" asp-action="Index" class="dropdown-item text-white">Категорії споживачів</a>
                                <a asp-controller="PlanningIndicators" asp-action="Index" class="dropdown-item text-white">Показники планування</a>
                                <div class="dropdown-divider bg-warning"></div>
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDocuments" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Документи
                            </a>
                            <div class="dropdown-menu bg-success text-white" aria-labelledby="navbarDropdown">
                                <a asp-controller="ActionsDocuments" asp-action="Index" class="dropdown-item text-white">План-факт</a>
                                <div class="dropdown-divider bg-warning"></div>
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                                <div class="dropdown-divider bg-warning"></div>
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDocuments" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Звіти
                            </a>
                            <div class="dropdown-menu bg-success text-white" aria-labelledby="navbarDropdown">
                                <a asp-controller="Reports" asp-action="ActionsDocumentsZvit" class="dropdown-item text-white">План-факт</a>
                                <div class="dropdown-divider bg-warning"></div>
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                                <div class="dropdown-divider bg-warning"></div>
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                            </div>
                        </li>
            
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - АТ "Херсонгаз" - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="~/lib/Bootstrap5_0_2/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
