@model Operativka.Models.ActionsDocument

@{
    ViewData["Title"] = "Деталі";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>План-факт</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Settlement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Settlement.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumerCategorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumerCategorie.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanningIndicator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanningIndicator.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plan_Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plan_Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fact_Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fact_Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Повернутися назад</a>
</div>
